@charset "UTF-8";
/* CSS Document */

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  --fg-color: rosybrown;
  --bg-color: papayawhip;
  --rotation: 0deg;
  --index: 0;
  --num-items: 19;
}

html {
  height: -webkit-fill-available;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
  /*	background-color: #84732B;*/
  color: var(--fg-color);
  max-height: 100dvh;
  max-height: -webkit-fill-available;
  transform: translateX(0);
}

a,
a:hover {
  color: var(--fg-color);
  width: max-content;
  max-width: 100%;
}

a p {
  display: inline;
}

.right a {
  display: flex;
  justify-content: flex-end;
}

.left a {
  display: flex;
  justify-content: flex-start;
}

h1 {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

a:hover {
  text-decoration: none;
}

.left p:hover::after {
  content: " ↗";
}

.right p:hover::before {
  content: "↖ ";
}

*::-webkit-scrollbar {
  display: none;
}

main {
  margin: 1em;
  top: 1em;
  width: calc(100vw - 2em);
  height: calc(100dvh - 6em);
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow-y: hidden;
  column-gap: 1em;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  scroll-timeline: --readTimeline x;
}

.menu p {
  text-align: center;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

.menu {
  top: 1em;
  height: 2em;
  margin-bottom: 1em;
}

.left.menu p {
  text-align: left;
}

.left.menu a,
.left a {
  float: left;
  clear: both;
}

.middle.menu h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 0.8em;
}

div.middle.menu {
  display: flex;
  justify-content: center;
}

.right.menu p {
  text-align: right;
}

.right.menu a,
.right a {
  float: right;
  clear: both;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateY(0);
  }
}

.img-column {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transform-style: preserve-3d;
  pointer-events: none;
  position: fixed;
  width: calc(100vw - 2em);
  height: calc(100dvh - 6em);
  transform: rotateY(-360deg);
  animation: rotateAnimation both linear 1ms;
  animation-timeline: --readTimeline;
}

@keyframes opacityAnimation {
  0%,
  25% {
    opacity: 0;
  }
  26%,
  74% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

.number-column {
  display: flex;
  align-items: flex-end;
  pointer-events: none;
  position: fixed;
  width: calc(100vw - 2em);
  top: 5em;
  z-index: 5;
  height: calc((100dvh - 6em) / 4 - 2em);
}

.info-column {
  display: flex;
  align-items: flex-start;
  position: relative;
  pointer-events: none;
  position: fixed;
  width: calc(100vw - 2em);
  z-index: 5;
  bottom: -1em;
  height: calc((100dvh - 6em) / 4 - 2em);
}

.number-column p {
  width: calc(100vw - 2em);
  text-align: center;
  flex-shrink: 0;
  opacity: 0;
  position: absolute;
  margin: 0;
  animation: opacityAnimation both linear 1ms;
  animation-timeline: --readTimeline;
  animation-range: calc(
      ((5000px - (100vw - 2em)) / var(--num-items)) * (var(--index) - 1)
    )
    calc(((5000px - (100vw - 2em)) / var(--num-items)) * (var(--index) + 1));
}

.info-column .info {
  width: calc(100vw - 2em);
  text-align: center;
  flex-shrink: 0;
  opacity: 0;
  position: fixed;
  margin: 0;
  animation: opacityAnimation both linear 1ms;
  animation-timeline: --readTimeline;
  animation-range: calc(
      ((5000px - (100vw - 2em)) / var(--num-items)) * (var(--index) - 1)
    )
    calc(((5000px - (100vw - 2em)) / var(--num-items)) * (var(--index) + 1));
}

.info p {
  margin: 0;
  font-size: 0.8em;
}

.img-column::after {
  content: "";
  inset: 0;
  background-color: var(--bg-color);
  position: fixed;
  transform: rotateY(360deg);
  animation: rotateAnimation both linear 1ms;
  animation-timeline: --readTimeline;
}

@keyframes imgRotate {
  0% {
    transform: rotateY(var(--rotation)) translateZ(35vw) rotateY(90deg)
      scale(60%);
  }
  25% {
    transform: rotateY(var(--rotation)) translateZ(50vw) rotateY(90deg)
      scale(75%);
  }
  50% {
    transform: rotateY(var(--rotation)) translateZ(75vw) rotateY(0deg)
      scale(100%);
  }
  75% {
    transform: rotateY(var(--rotation)) translateZ(50vw) rotateY(-90deg)
      scale(75%);
  }
  100% {
    transform: rotateY(var(--rotation)) translateZ(35vw) rotateY(-90deg)
      scale(60%);
  }
}

.img-column img {
  position: absolute;
  aspect-ratio: 2/3;
  object-fit: cover;
  height: calc((100dvh - 6em) / 2);
  border: 1px solid var(--fg-color);
  background-color: var(--bg-color);
  animation: imgRotate both linear 1ms;
  animation-timeline: --readTimeline;
  animation-range: calc(
      ((5000px - (100vw - 2em)) / var(--num-items)) * (var(--index) - 2)
    )
    calc(((5000px - (100vw - 2em)) / var(--num-items)) * (var(--index) + 2));
}

.scrollable {
  flex-shrink: 0;
  width: 5000px;
  height: 100%;
  align-self: start;
  display: flex;
}

.scrollable div {
  opacity: 0;
  pointer-events: none;
  min-width: calc(((5000px - (100vw - 2em)) / var(--num-items)));
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-snap-type: normal;
}
