@charset "UTF-8";
/* CSS Document */

* {
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;

  --fg-color: rosybrown;
  --bg-color: papayawhip;
}

html {
  height: -webkit-fill-available;
  overflow: hidden;
}

body {
  background-color: var(--bg-color);
  /*	background-color: #84732B;*/
  color: var(--fg-color);
  max-height: 100dvh;
  max-height: -webkit-fill-available;
  transform: translateX(0);
}

a,
a:hover {
  color: var(--fg-color);
  width: max-content;
  max-width: 100%;
}

a p {
  display: inline;
}

.right a {
  display: flex;
  justify-content: flex-end;
}

.left a {
  display: flex;
  justify-content: flex-start;
}

h1 {
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

a:hover {
  text-decoration: none;
}

.left p:hover::after {
  content: " ↗";
}

.right p:hover::before {
  content: "↖ ";
}

*::-webkit-scrollbar {
  display: none;
}

main {
  margin: 1em;
  top: 1em;
  width: calc(100vw - 2em);
  height: calc(100dvh - 6em);
  padding: 0;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow-y: hidden;
  column-gap: 1em;
  scroll-snap-type: x proximity;
  overflow-x: scroll;
  scroll-timeline: --readTimeline x;
}

.menu p {
  text-align: center;
  font-size: 0.75em;
  margin: 0;
  padding: 0;
}

.menu {
  top: 1em;
  height: 2em;
  margin-bottom: 1em;
}

.left.menu p {
  text-align: left;
}

.left.menu a,
.left a {
  float: left;
  clear: both;
}

.middle.menu h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 0.8em;
}

div.middle.menu {
  display: flex;
  justify-content: center;
}

.right.menu p {
  text-align: right;
}

.right.menu a,
.right a {
  float: right;
  clear: both;
}

@keyframes rotateAnimation {
  0% {
    transform: rotateY(calc(360deg / -25));
  }
}

.number-column {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  pointer-events: none;
  position: fixed;
  transform: rotateY(calc(360deg / -25 - 360deg));
  animation: rotateAnimation both linear 1ms;
  animation-timeline: --readTimeline;
}

.number-column h2 {
  position: absolute;
  width: 10em;
  height: 10em;
  border: 1px solid var(--fg-color);
  background-color: var(--bg-color);
  transform: rotateY(0deg);
}

.scrollable {
  flex-shrink: 0;
  width: 5000px;
  height: 100%;
  align-self: start;
  display: flex;
}

.scrollable div {
  background-color: pink;
  opacity: 0;
  pointer-events: none;
  min-width: calc((5000px - (100vw - 2em)) / 25);
  flex-shrink: 0;
  scroll-snap-align: start;
  scroll-snap-type: normal;
}
