@charset "UTF-8";
/* CSS Document */

* {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	display: none;
}

body {
	color: black;
	min-height: 100vh;
	min-height: -webkit-fill-available;
}

html {
	height: -webkit-fill-available;
}

a, a:hover {
	max-width: 100%;
	width: 5em;
	color: black;
	text-decoration: none;
}

.container-fluid.main {
	width: calc(100vw - 2em);
	height: calc(100vh - 2em);
	margin: 1em;
	justify-content: center;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.row {
	display: flex;
	width: 60vw;
	justify-content: center;
	align-items: center;
}

.col-12.menu {
	display: flex;
	justify-content: center;
}

h1 {
	width: calc(60vw - 0.4em);
	display: inline;
	white-space: nowrap;
	margin-bottom: -1px;
	font-size: 10vw;
}

h1 a.left, h1 a.right {
	width: max-content;
}

h1 a.middle {
	display: flex;
	justify-content: center;
	width: max-content;
}

hr {
	width: 60vw;
	background-color: black;
	top: 0;
	animation: hr-extend 1s ease;
}

.hr-container {
	width: 60vw;
	display: flex;
	justify-content: center;
}

@keyframes hr-extend {
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

a p {
	display: inline;
	margin-bottom: 0em;
}

.left p:hover::after, .middle-left p:hover::after {
	content: " ↗ ";
}

.right p:hover::before, .middle-right p:hover::before {
	content: " ↖ ";
}

.middle-left p:hover::before {
	color: transparent;
	cursor: default;
	user-select: none;
	content: " ↗ ";
}

.middle-right p:hover::after {
	color: transparent;
	cursor: default;
	user-select: none;
	content: " ↖ ";
}

.right a {
	display: flex;
	justify-content: flex-end;
}

.left a {
	display: flex;
	justify-content: flex-start;
}

.middle a, a.middle {
	display: flex;
	justify-content: center;
}

h1 {
	display: flex;
	justify-content: center;
	white-space: nowrap;
}

a:hover {
	text-decoration: none;
}

.titles p, .menu p {
	text-align: center;
	font-size: 0.75em;
	margin: 0;
	padding: 0;
}

.menu {
	top: 0em;
}

.left.menu p {
	text-align: left;
}

.left.menu a, .left a, a.left {
	width: max-content;
	float: left;
	clear: both;
}

.right.menu p {
	text-align: right;
}

.right.menu a, .right a, a.right {
	width: max-content;
	float: right;
	clear: both;
}

a.right {
	min-width: max-content;
	overflow: visible;
	padding-right: 0;
	margin-right: 0;
	right: 0;
}

.middle.menu p {
	text-align: center;
}

.middle-left {
	display: flex;
	justify-content: center;
	text-align: center;
	left: calc((-25% / 4) * 0.5);
}

.middle-right {
	display: flex;
	justify-content: center;
	text-align: center;
	left: calc((25% / 4) * 0.5);
}

.middle.menu a, .middle a {
	float: left;
	clear: both;
}